.container{
    display: flex; 
    align-items: flex-start;
    justify-content: space-around;
}

.textHeader {
    border: 1px solid black;
}
.textHeader1 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.hongerdenbedste {
    width: 200px;
    text-align: left;
}

.alignbutton {
    display: flex;
    justify-content: space-evenly;

}

.TitleColor {
    background-color: cadetblue;
    width: 200px;
    padding: 10px;
}