.container {
    display: flex;
    align-items: flex-start;
}

.textHeader {
    border: 1px solid black;
   
}

.alignbutton {
    display: flex;
    justify-content: space-evenly;

}

.TitleColor {
    background-color: darkgray;
    width: 200px;
    padding: 10px;
    font-size: larger;
    text-align: center;
   
}

.TableColor {
    background-color: lightgray;



}

.btn {
    border-radius: 70px;
    white-space: nowrap;

}

.btn--primary {
    background: rgb(105, 131, 100);
    width: 80%;
    display: inline-block;
}

.btn--primary:hover {
    color: #3c3d3c;
    cursor: pointer;
}

.btn-category {
    font-size: 16.5px;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    height: 40px
}

.category-container {
    padding: 20px;
    width: 200px;
    background-color: lightgray;
}

.center {
    display: flex;
    justify-content: center;
    height: 35px;
}

.AddCategory {
    display: flex;
}

.form {
    display: none;
}

.showTaskBox {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.showCategoryBox {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* reset fieldset property */
fieldset {
    border-width: 0px;
    border-spacing: 0px;
    margin-inline-start: 0px;
}

/* Styling the closing x, its position and colour */
.close {
    position: absolute;
    top: -25%;
    left: 100%;
    font-size: 40px;
    font-weight: bold;
    color: #070000;
    border: none;
    background-color: transparent;
}

/* Colour x when it is pointed at */
.close:hover {
    color: #7b7c7b;
    cursor: pointer;
}

.Box {
    display: block;
    border: 1px solid black;
    background-color: rgb(209, 222, 251); 
    width: 200px;
    padding: 10px;
    
}
.BoxForTitle {
    display: block;
    border: 1px solid black;
    background-color: rgb(209, 222, 251); 
    width: 200px;
    padding: 10px;
    border-block-start: none;
    border-inline: none;
    margin-block-start: auto;
    padding-inline: initial;
}
.categoryBorders {
    border-radius: 10px;
    margin-right: 5px;
}

.subTitle {
    padding: 5px;
}