/* 
sections for styling the page:

    # 1. Reused styling
    # 2. Create Task form
    # 3. Create members form
    # 4. Create category form
    # 5. Category table
    # 6. Category taskbox
*/


/* --------------------------- 1. Reused styling --------------------------- */
.font {
    font-family:'Times New Roman', Times, serif;
}

/* hidebox */
.hideBox{
    display: none;
}

/*h1 styling*/
.systemName {
    color: #616989;
    text-align: center;
    -webkit-text-stroke-width: thin;
    text-shadow: #6f4d0a 1px 0 20px;
}

/* Styling the closing x, its position and colour */
.closeButton {
    position: absolute;
    top: -35px;
    right: -20px;
    font-size: 35px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    color: black;
}

/* Colour x when it is pointed at */
.closeButton:hover {
    color: #000000;
    cursor: pointer;
}

.submitButton {
    justify-content: center;
    align-items: center;
    border-style: double;
    font-family: 'Times New Roman', Times, serif;
}

.fieldset {
    display: flex;
    flex-direction: column;
    background-color: rgb(161 167 189);
    padding: 10px;
    font-size: larger;
    text-align: center;
}

/* --------------------------- 2. Create member form --------------------------- */

/* Create members box background */
.createMembers_container{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

/* Center the from in */
.createMembers__position{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    border-style: initial;
}

.memberBox{
    display: flex;
    flex-direction: column;
    background-color: #e1e2d7;
    width: 350px;
    padding: 10px;
    font-size: larger;
    text-align: center;
    border-style: solid;
    border-width: thin;
}

.names {
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: 'Times New Roman', Times, serif;
    width: 46%;
}

.memberInput {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.submitButton {
    border-radius: 20px;
    color: white;
    margin: 10px;
    background-color: #626c93;
    border-color:rgb(213 173 93);
    border-width: medium;
    width: 80px;
    font-size: 16px;
    border-style:outset;
}

/* --------------------------- 3. Create members form --------------------------- */
.createTask__container {
    width: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.createTaskTextarea {
    height: 75px;
    resize: none;
    font-family: sans-serif;
}

.createTaskInputName {
    font-family: sans-serif;
}


/* --------------------------- 4. Create category form --------------------------- */

.createChapter__container {
    width: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* --------------------------- 5. Category table --------------------------- */

.category__container {
    display: flex;
}

.category {
    display: flex;
    align-items: flex-start;
}

.categoryTable {
    background-color: #efeff2;
    border-radius: 10px;
    margin-right: 5px;
    padding: 10px;
}
.categoryTitle__container {
    position: relative;
}

.deleteChapter {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    color: white;
    padding: 3px;
}

.deleteChapter:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.categoryTitle {
    background-color: #626c93;
    width: 200px;
    padding: 10px;
    font-size: larger;
    text-align: center;
    margin: 0px;
    border-radius: 10px;
    color: #efeff2;
}

.categoryButton__container {
    display: flex;
    justify-content: center;
    height: 35px;
}

.categoryButton {
    border-radius: 70px;
    white-space: nowrap;
    background: rgb(213 173 93);
    width: 80%;
    display: inline-block;
    border-color: #626c93;
    border-style: outset;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.categoryButton:hover {
    color: #3c3d3c;
    cursor: pointer;
}

/* Create category table button */
.categoryCreateTableButton__button {
    font-size: 16.5px;
    padding: 5px;
    width: 150px;
    color: black;
    border-radius: 20px;
    
   

}

.categoryCreateTableButton__container {
    padding: 15px;
    width: 200px;
    background-color: #efeff2;
    border-radius: 10px;
}

/* --------------------------- 6. Category taskbox --------------------------- */

.taskbox {
    position: relative;
    display: block;
    border: 1px solid black;
    background-color: #f2eadb;
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    
}

.taskboxTitle {
    display: block;
    border: 1px solid black;
    background-color: #f2eadb;
    width: 200px;
    padding: 10px;
    text-align: center;
    border-block-start: none;
    border-inline: none;
    margin-block-start: auto;
    padding-inline: initial;
}
.taskboxDelete {
    position: absolute;
    top: -5px;
    right: 0;
    padding: 3px;
}
.taskboxDelete:hover {
    color: rgb(154, 150, 150);
    cursor: pointer;
}
.checkBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-small;
}

.checkBox__container{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

/* dialog -------------------------------------------------------------------------------------- */

.dialog_button {
    margin: 0 5px 0 5px;
}
.dialogButton_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.dialog_confirm {
    border-radius: 70px;
    white-space: nowrap;
    background: rgb(213, 173, 93);;
    display: inline-block;
    border-color: #626c93;
    border-style: outset;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.dialog_confirm:hover {
    color: rgb(82, 79, 79);
    cursor: pointer;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitMember_button {
    margin-bottom: 5px;
    border-radius: 70px;
    white-space: nowrap;
    width: 150px;
    display: inline-block;
}

